# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Node
/node_modules/
/dist/
/build/

# Env
.env
.env.local
.env.*.local

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Misc
*.sqlite3
/dev.db
